#root {
  max-width: 1280px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

b {
  padding-right: 10px;
  font-style: normal;
  color: black;
}

ul {
  list-style-type: none;
}

.container {
  border: 2px solid black;
  padding: 20px;
}

.headTitles {
  text-align: center;
  font-weight: bold;
}

tbody td {
  padding: 4px;
}

tbody tr:nth-child(even) {
  background-color: #cfcfcf;
}

tbody tr:not(:first-child):hover {
  background-color: rgb(176, 255, 170);
}

table {
  border-spacing: 0;
}